:root {
  --surface-0: #e4cff3;
  --surface-1: #e48397;
  --surface-2: #e24767;
  --surface-3: #b51a3a;
  --surface-4: #5e081e;
}


body {
  background-color: var(--surface-0);
  margin: 0;
  overflow: clip;
}


.container {
  aspect-ratio: 2 / 1;
  background-color: var(--surface-1);
  border: 2px solid;
  border-color: var(--surface-2);
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  left: 50%;
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: max(500px, 25rem);

  > .content {
    align-items: center;
    display: flex;
    color: white;
    flex-direction: column;
    font-family: "Segoe UI";
    font-size: 1.5em;
    font-weight: 750;

    > #icon {
      aspect-ratio: 1 / 1;
      border: 2px solid white;
      border-radius: 8px;
      width: 112px;
    }

    > .subtext {
      &.hide {
        visibility: hidden;
      }
    }
  }

  > .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
    
    > button {
      aspect-ratio: 2 / 1;
      background-color: var(--surface-2);
      border: 1px solid;
      border-color: var(--surface-3);
      border-radius: 7px;
      color: white;
      cursor: pointer;
      font-family: arial;
      font-size: 0.9em;
      font-weight: 550;
      transition: 0.3s linear;
      width: 3.5rem;
    }

    > #noButton {
      &:hover {
        transform: scale(0.75);
      }

      &.hidden {
        visibility: hidden;
      }
    }

    > #yesButton {
      &:hover {
        transform: scale(1.25);
      }
    }
  }
}


#confetti {
  bottom: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}